/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
}


/********/
/* FONT */
/********/

@font-face {
  font-family: "Bartex, Georgia, serif";
  src: url(../fonts/bartex-font);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-barbie: #e0218a;
  --color-bg: #e7accc;


}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  background-color: var(--color-bg);
}

h1 {
  font-family: "Bartex";
  color: var(--color-barbie);

  text-align: center;
  font-size: 2em;
}

button {
  background: none;
  border: none;
}


/******************************************/
/******* KLEDINGKAST BARBIE OUTFITS *******/
/******************************************/

/* de kledingkast zelf */
article:nth-of-type(1) {
  background-image: url(../images/barbie-kledingkast.png);
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: 500px 650px;

  height: 650px;
}

section:nth-of-type(2) {

  width: auto;

  display: grid;
  grid-template-columns: 8.5em 8.5em 8.5em;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

/* debut outfit, 1959 */
section:nth-of-type(2) button:nth-of-type(1) {
  width: 5em;

  position: absolute;
  left: 14.7em;
  top: 20.2em;
}

/* Barbie als chirurg outfit, 1973 */
section:nth-of-type(2) button:nth-of-type(2) {
  width: 5em;

  position: absolute;
  left: 22.2em;
  top: 20em;
}

/* Barbie als Olympische zwemmer outfit, 2001 */
section:nth-of-type(2) button:nth-of-type(3) {
  width: 5em;

  position: absolute;
  left: 30em;
  top: 16.4em;
}

/* Barbie als kandidaat voor president outfit, 2004 */
section:nth-of-type(2) button:nth-of-type(4) {
  width: 6.5em;

  position: absolute;
  left: 14.3em;
  top: 29.5em;
}

/* Barbie met hijab outfit, 2017 */
section:nth-of-type(2) button:nth-of-type(5) {
  width: 9.5em;

  position: absolute;
  left: 20.3em;
  top: 31em;
}

/* Barbie als frontline worker tijdens de pandemie outfit, 2021 */
section:nth-of-type(2) button:nth-of-type(6) {
  width: 5em;

  position: absolute;
  left: 30em;
  top: 30em;
}

/*******************************************/
/******* KAST BARBIE HUIS MET POPPEN *******/
/*******************************************/

/* de kast met huis erop */
article:nth-of-type(2){
  background-image: url(../images/barbie-kast-met-huis.png);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 400px 650px;

  height: 650px;
}