/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}


/********/
/* FONT */
/********/

@font-face {
  font-family: "Bartex, Georgia, serif";
  src: url(../fonts/bartex-font);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-barbie: #e0218a;
  --color-bg: #fffadd;
  
  --color-bg-kast: #e7accc;

  --color-bg-spiegel: rgb(226, 192, 40);
  --color-spiegel-lampjes:rgb(255, 227, 71);

  --color-text: #000000;
 

}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  margin: 0;
  background-color: var(--color-bg);
}

main {
  display: flex;
}

h1 {
  font-family: "Bartex";
  color: var(--color-barbie);

  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--color-text);

  text-align: center;
  font-size: 1.5em;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color: var(--color-text);

  text-align: center;
}

img {
  max-width: 100%;
}


li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 4px rgb(255, 47, 151));
}

button:focus {
  outline: none;
  filter: drop-shadow(0px 0px 4px rgb(255, 47, 151));
}

button:active {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 4px var(--color-bg));
}

button:not([disabled]) {
  cursor: pointer;
}


/******************************************/
/******* KLEDINGKAST BARBIE OUTFITS *******/
/******************************************/

/* de kledingkast zelf */
section:nth-of-type(1) {
  height: 30em;
  width: 25em;

  background-color: var(--color-bg-kast);
  border: solid 1em var(--color-barbie);
  border-radius: 2em;
  box-shadow: .5em .5em 1em rgb(138, 88, 113);

  margin: auto;
  margin-right: 2em;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

/* debut outfit, 1959 */
ul li:nth-of-type(1) {
  width: 5em;

  justify-self: center;
  align-self: center;
}

/* Barbie als chirurg outfit, 1973 */
ul li:nth-of-type(2) {
  width: 5em;

  justify-self: center;
  align-self: center;
}

/* Barbie als Olympische zwemmer outfit, 2001 */
ul li:nth-of-type(3) {
  width: 5em;

  justify-self: center;
  align-self: start;
}

/* Barbie als kandidaat voor president outfit, 2004 */
ul li:nth-of-type(4) {
  width: 6em;

  justify-self: center;
  align-self: start;
}

/* Barbie met hijab outfit, 2017 */
ul li:nth-of-type(5) {
  width: 9.5em;

  justify-self: center;
  align-self: start;
}

/* Barbie als frontline worker tijdens de pandemie outfit, 2021 */
ul li:nth-of-type(6) {
  width: 5em;

  justify-self: center;
  align-self: start;
}

/******************************************/
/******* INFORMATIE DETAILS OUTFITS *******/
/******************************************/

section:nth-of-type(2) {
  height: 20em;
  width: 25em;

  background-color: var(--color-bg-spiegel);
  border: dotted 1.3em var(--color-spiegel-lampjes);
  border-radius: .5em;
  box-shadow: .5em .5em .5em rgb(161, 156, 108);

  margin: auto;
  margin-left: 0;
}

section:nth-of-type(2) p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

/* informatie details verbergen met hidden */
.hidden {
  visibility: hidden;
}