/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
}


/********/
/* FONT */
/********/

@font-face {
  font-family: "Bartex, Georgia, serif";
  src: url(../fonts/bartex-font);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-barbie: #e0218a;
  --color-bg: #e7accc;


}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  background-color: var(--color-bg);
}

h1 {
  font-family: "Bartex";
  color: var(--color-barbie);

  text-align: center;
  font-size: 2em;
}

button {
  background: none;
  border: none;
}


/******************************************/
/******* KLEDINGKAST BARBIE OUTFITS *******/
/******************************************/

/* de kledingkast zelf */
article:nth-of-type(1) {
  background-image: url(../images/barbie-kledingkast.png);
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: 500px 650px;

  height: 650px;
  max-width: 90em;
}

section:nth-of-type(2) {

  width: auto;

  display: grid;
  grid-template-columns: 8.5em 8.5em 8.5em;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

/* debut outfit, 1959 */
section:nth-of-type(2) button:nth-of-type(1) {
  width: 5em;

  position: absolute;
  left: 14.7em;
  top: 20.2em;
}

/* Barbie als chirurg outfit, 1973 */
section:nth-of-type(2) button:nth-of-type(2) {
  width: 5em;

  position: absolute;
  left: 22.2em;
  top: 20em;
}

/* Barbie als Olympische zwemmer outfit, 2001 */
section:nth-of-type(2) button:nth-of-type(3) {
  width: 5em;

  position: absolute;
  left: 30em;
  top: 16.4em;
}

/* Barbie als kandidaat voor president outfit, 2004 */
section:nth-of-type(2) button:nth-of-type(4) {
  width: 6.5em;

  position: absolute;
  left: 14.3em;
  top: 29.5em;
}

/* Barbie met hijab outfit, 2017 */
section:nth-of-type(2) button:nth-of-type(5) {
  width: 9.5em;

  position: absolute;
  left: 20.3em;
  top: 31em;
}

/* Barbie als frontline worker tijdens de pandemie outfit, 2021 */
section:nth-of-type(2) button:nth-of-type(6) {
  width: 5em;

  position: absolute;
  left: 30em;
  top: 30em;
}

/*******************************************/
/******* KAST BARBIE HUIS MET POPPEN *******/
/*******************************************/

/* de kast met huis erop */
section:nth-of-type(3){
  background-image: url(../images/barbie-kast-met-huis.png);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 400px 650px;

  height: 650px;
  min-width: 65em;

  display: grid; 
  grid-template-columns: 1fr repeat(2, 2fr) repeat(2, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

/* de 1959 debut Barbie pop */
section:nth-of-type(3) button:nth-of-type(1){
  grid-area: 3 / 1 / 4 / 2; } 

/* de 1965 buigende knie Barbie pop */
section:nth-of-type(3) button:nth-of-type(2){ 
  grid-area: 3 / 2 / 4 / 3; }

/* de 1967 Twist n Turn Barbie pop */
section:nth-of-type(3) button:nth-of-type(3){ 
  grid-area: 2 / 1 / 3 / 2; }

/* Barbie poppen 1971 */
section:nth-of-type(4){
    display: flex;
  }

/* de 1971 Malibu Barbie pop */
section:nth-of-type(4) button:nth-of-type(4){
  grid-area: 2 / 2 / 3 / 3; } 

/* de 1971 Live Action Barbie pop */
section:nth-of-type(4) button:nth-of-type(5){ 
  grid-area: 2 / 2 / 3 / 3; } 

/* de 1980 darkskin Barbie pop */
section:nth-of-type(3) button:nth-of-type(6){ 
  grid-area: 1 / 1 / 2 / 2; }

/* de 2015 flat feet Barbie pop */
section:nth-of-type(3) button:nth-of-type(7){ 
  grid-area: 1 / 2 / 2 / 3; }

/* Barbie poppen 2016 */
section:nth-of-type(5){
  display: flex;
}

/* de 2016 curvy Barbie pop */
section:nth-of-type(5) button:nth-of-type(8){ 
  grid-area: 1 / 3 / 2 / 5; }

/* de 2016 petite Barbie pop */
section:nth-of-type(5) button:nth-of-type(9){ 
  grid-area: 1 / 3 / 2 / 5; }

/* de 2016 tall Barbie pop */
section:nth-of-type(5) button:nth-of-type(10){ 
  grid-area: 1 / 3 / 2 / 5; }

/* Barbie poppen 2020 */
section:nth-of-type(6){
  display: flex;
}

/* de 2020 kale Barbie pop */
section:nth-of-type(6) button:nth-of-type(11){ 
  grid-area: 2 / 3 / 3 / 5; }

/* de 2020 rolstoel Barbie pop */
section:nth-of-type(6) button:nth-of-type(12){ 
  grid-area: 2 / 3 / 3 / 5; }

/* de 2020 vitiligo Barbie pop */
section:nth-of-type(6) button:nth-of-type(13){ 
  grid-area: 2 / 3 / 3 / 5; }

/* Barbie poppen 2022 */
section:nth-of-type(7){
  display: flex;
}

/* de 2022 beenprothese Barbie pop */
section:nth-of-type(7) button:nth-of-type(14){ 
  grid-area: 3 / 3 / 4 / 4; }

/* de 2022 gehoorapparaten Barbie pop */
section:nth-of-type(7) button:nth-of-type(15){ 
  grid-area: 3 / 3 / 4 / 4; }

/* de 2023 syndroom van Down Barbie pop */
section:nth-of-type(3) button:nth-of-type(16){ 
  grid-area: 3 / 4 / 4 / 5; } 